<h1>Songs</h1>

<table border="10px black dotted">
  <tr>
    <th>artist</th>
    <th>title</th>
  </tr>
  <% if session[:songs] %>
    <% session[:songs].each do |artist, songs| %>
      <tr>
        <td><%= artist %></td>
        <td>
          <ul>
            <% songs.each do |song| %>
              <li><a href="<%= song[:video] %>"><%= song[:title] %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
